/Atividade01/nbproject/private/
/Atividades/Atividade01/build/
/Atividades/Atividade01/dist/
/meusite/nbproject/private/
/Atividade03/nbproject/private/
/Atividade03/build/
/Atividade03/dist/
/Atividade04/nbproject/private/
/Atividade04/build/
/Atividade05/nbproject/private/
/Atividade05/build/
/Atividade05/dist/
/Atividade01/build/
/Atividade01/dist/
/Filtro/nbproject/private/
/Atividade07/nbproject/private/
/Atividade07/build/
/Atividade08/nbproject/private/
/Atividade09/nbproject/private/
/Atividade10/nbproject/private/
/Atividade11/nbproject/private/
/Atividade11/build/
/Atividade11/dist/
/Atividade11/Atividade07/nbproject/private/
/Atividade13/nbproject/private/
/Atividade13/build/
/Atividade13/dist/
/Atividade14/nbproject/private/
/Atividade14/build/
/Atividade14/dist/
/Atividade15/nbproject/private/
/Atividade15/build/
/Atividade15/dist/
/Atividade16/nbproject/private/
/Atividade16/CarrinhoEJB/nbproject/private/
/Atividade16/LojaVirtual/nbproject/private/
/Atividade16/CarrinhoEJB/build/
/Atividade16/LojaVirtual/build/
/Atividade16/CarrinhoEJB/dist/
/Atividade16/build/
/Atividade16/LojaVirtual/dist/
/Atividade16/dist/
/Atividade17/nbproject/private/
/Atividade18/nbproject/private/
/Atividade18/CadastroEJB-ejb/nbproject/private/
/Atividade18/CadastroEJB-ejb/build/
/Atividade18/CadastroEJB-ejb/dist/
/Atividade18/CadastroWeb-war/nbproject/private/
/Atividade18/CadastroWeb-war/build/
/Atividade18/CadastroWeb-war/dist/
/Atividade18/build/
/Atividade18/dist/
/Atividade19/nbproject/private/


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


/Atividade20/nbproject/private/